{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Management{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="heading">
                    <h4>Task Management</h4>
                </div>
                <div class="nav-header">Main Menu</div>
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
                {% if user.role == 'superadmin' %}
                <div class="nav-header">User Management</div>
                <a href="{% url 'admin_users' %}">All Users</a>
                <a href="{% url 'admin_admins' %}">Manage Admins</a>
                {% endif %}
                <div class="nav-header">Task Management</div>
                <a href="{% url 'admin_tasks' %}">All Tasks</a>
                <a href="{% url 'admin_task_reports' %}">Task Reports</a>
                <div class="mt-5">
                    <a href="{% url 'logout' %}" class="btn btn-danger">Log Out &nbsp;<i class="bi bi-box-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="p-4">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>